doctype html
head
	title Управление чатом
	link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

body(style="font-family: Open Sans !important;")
	#app
	script(src="/assets/bundles/auth.js")