<template lang="pug">
    v-app#app
        router-view.view()
</template>

<script>
	export default {
		async mounted() {
        },
		data   : () => ({
			drawer: null,
			routerStack    : router.panel,
			serverConnected: false
		}),
		methods: {
			async webApiReady() {
				this.serverConnected = true;
			}
		}
	};
</script>
<style>

</style>