<template lang='pug'>
    v-app#app
        v-container(fluid fill-height)
            v-row(align="center" justify="center")
                v-col(cols='12' align="center" justify="center")
                    v-col(xs="12" md="4")
                        v-card.pa-4()
                            v-card-title {{ isRegistration ? "Регистрация" : "Авторизация" }}
                            v-card-subtitle.text-left Заполните необходимые поля
                            v-card-text
                                v-text-field(label="Выберите логин" v-model="form.login" :error-messages="this.form.loginHint")
                                v-text-field(label="Выберите пароль" v-model="form.password" type="password" :error-messages="this.form.password.length < 8 && this.form.password.length > 0 ? 'Пароль должен быть больше 8 символов' : ''")
                                v-text-field(v-if="isRegistration" hint="Вы получите код после покупки плагина" label="Пригласительный код" v-model="form.code")
                            v-card-actions
                                v-btn(outlined color="green lighten-1" @click="activeButtonAction" :disabled="this.form.loginHint.length > 0 || this.form.password.length < 8") {{ isRegistration ? "Зарегистрироваться" : "Авторизоваться" }}
                                v-btn(text color="grey lighten-1" @click="switchMode()") {{ isRegistration ? "Авторизоваться" : "Зарегистрироваться" }}
        v-snackbar.elevation-0(v-model="alertBar.show" top :timeout="3000" style="background-color: #ffffff00")
            v-col.ma-0.pa-0(align="center" justify="center" class="text--center center-text text-center text-black text--black black--text black-text")
                span.overline {{ alertBar.text }}
</template>

<script>
	export default {
		async mounted() {
		},
		computed: {

		},
		data   : () => ({
			isRegistration: false,
			form: {
				login: '',
				password: '',
                code: '',

				loginHint: ''
			},
            alertBar: {
				show: false,
                text: ''
            }
		}),
		methods: {
			showAlert(text) {
			    this.alertBar.show = true;
			    this.alertBar.text = text;

			    setTimeout(() => {
                    this.alertBar.show = false;
                }, 3000);
            },
			async activeButtonAction() {
				if (this.isRegistration){
					let result = await webApi.emit('user register', {
						login: this.form.login,
						password: this.form.password,
                        key: this.form.code
					});

					if (!result){
						this.showAlert('Непредвиденная ошибка!');
						return;
                    }

					if (result.status != "OK") {
						this.showAlert(result.result);
                    }
					else {
						window.location = `/auth/${result.result}`;
                    }
				}
				else {
					let result = await webApi.emit('user auth', {
						login: this.form.login,
						password: this.form.password
					});

					if (result.status != "OK") {
						this.showAlert(result.result);
					}
					else {
						window.location = `/auth/${result.result}`;
					}
				}
			},
			switchMode() {
				this.isRegistration = !this.isRegistration;
				this.form = {
					login: '',
					password: '',

					loginHint: ''
				};
			}
		}
	};
</script>
<style>
    p {
        margin: 0 !important;;
    }
    v-snack__wrapper {
        background-color: #ffffff00;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }

    .v-snack__wrapper {
        background-color: #ffffff00;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }
</style>
