<template lang='pug'>
    v-app#app
        v-container()
            v-row(align="center" justify="center")
                v-col(cols="12" xs="12" xl="7" align="center" justify="center")
                    v-col(cols="12")
                        v-btn(text x-large @click="createProjectDialog.show = true") Добавить новый проект
                            v-icon(color='green lighten-2') mdi-plus
                    v-row(align="start" justify="center")
                        v-col(lg="6" sm="12" v-for='project in user.projects')
                            v-card.elevation-0
                                v-container
                                    v-list(two-line='' subheader='')
                                        v-subheader(inset='' class="text-center") {{ project.projectName.toUpperCase() }} - список серверов
                                        v-skeleton-loader(v-for='server in project.servers' :loading='loading.overlay' :transition='transition' type='list-item-avatar-two-line')
                                            v-list-item(class="text-left")
                                                v-list-item-avatar()
                                                    v-icon mdi-server
                                                v-list-item-content()
                                                    v-text-item-title(v-text='server.serverName.toUpperCase()')
                                                    v-list-item-subtitle
                                                        template(v-if="server.updatedAt == server.createdAt")
                                                            v-row.ma-0.pa-0
                                                                v-subheader.pa-0.pl-1(style="height: auto !important") Сервер не подключён
                                                        template(v-else-if="loadTime - (new Date(server.updatedAt) / 1000) < 5")
                                                            v-row.ma-0.pa-0
                                                                v-icon(small) mdi-account
                                                                v-subheader.pa-0.pl-1(style="height: auto !important") {{ server.online }}
                                                                v-icon.pl-4(small) mdi-clock
                                                                v-subheader.pa-0.pl-1(style="height: auto !important") {{ server.fps }} FPS
                                                        template(v-else)
                                                            v-row.ma-0.pa-0
                                                                v-subheader.pa-0.pl-1(style="height: auto !important") Сервер не отвечает
                                                v-list-item-action
                                                    v-tooltip(bottom)
                                                        template(v-slot:activator="{ on }")
                                                            v-btn(icon v-on="on" small :to="{ path: `/viewer/server/${server.id}` }")
                                                                v-icon(color="grey lighten-2" small) mdi-message-text
                                                        span Просмотр чата
                                                v-list-item-action.ml-1.pl-1
                                                    v-tooltip(bottom)
                                                        template(v-slot:activator="{ on }")
                                                            v-btn(icon v-on="on" v-clipboard:copy="server.secretKey" v-clipboard:success="onCopy" small)
                                                                v-icon(color="grey lighten-2" small) mdi-content-copy
                                                        span Копировать ключ
                                                v-list-item-action.ml-1.pl-1
                                                    v-tooltip(bottom)
                                                        template(v-slot:activator="{ on }")
                                                            v-btn(icon v-on="on" @click="removeServer(server)" small)
                                                                v-icon(color='red lighten-4' small) mdi-close
                                                        span Удалить сервер
                                    v-col.mb-0.pb-0
                                        v-btn(text x-small @click="createServerDialogStart(project.id)") Добавить новый сервер
                                            v-icon(color='green lighten-2' x-small) mdi-plus
                                    v-col.my-0.py-0
                                        v-btn(text x-small @click="removeProject(project.id)") Удалить проект
                                            v-icon(color='red lighten-2' x-small) mdi-minus
                                    //    v-btn(text x-small @click="createServerDialogStart(project.id)" :disabled="project.servers.length == 0") Управлять чатом
                                    //    v-btn(text x-small @click="createServerDialogStart(project.id)") Удалить
                                    //        v-icon(color='red lighten-2' x-small) mdi-minus
                    v-col(cols="12")
                        v-row.mt-0.pt-0(align="center" justify="center")
                            v-btn(icon x-large)
                                v-icon mdi-vk
                            v-btn(icon x-large)
                                v-icon mdi-telegram
                            v-btn(icon x-large)
                                v-icon mdi-gmail
                            v-btn(icon x-large)
                                v-icon mdi-discord



        v-dialog(v-model='createProjectDialog.show' persistent max-width='500px')
            v-card
                v-card-text.py-0.mb-0.pt-5
                    v-text-field(label="Название сервера" placeholder="Введите название сервера" color="grey lighten-1" v-model='createProjectDialog.name')
                v-card-actions
                    v-row.ma-0.pa-0(align="center" justify="center")
                        v-btn(color="green lighten-1" outlined @click='createProject' :disabled="createProjectDialog.name.length == 0") Добавить проект
                        v-btn.ml-1(text  @click='createProjectDialog.show = false') Отмена
        v-dialog(v-model='createServerDialog.show' persistent max-width='500px')
            v-card
                v-card-text.py-0.mb-0.pt-5
                    v-text-field(label="Название сервера" placeholder="Введите название сервера" color="grey lighten-1" v-model='createServerDialog.name')
                v-card-actions
                    v-row.ma-0.pa-0(align="center" justify="center")
                        v-btn(color="green lighten-1" outlined @click='createServer' :disabled="createServerDialog.name.length == 0") Добавить серевер
                        v-btn.ml-1(text  @click='createServerDialog.show = false') Отмена


        v-snackbar.elevation-0(v-model="alertBar.show" top :timeout="3000" style="background-color: #ffffff00")
            v-col.ma-0.pa-0(align="center" justify="center" class="text--center center-text text-center text-black text--black black--text black-text")
                span.overline {{ alertBar.text }}
        span.overline(style="position: fixed; bottom: 5px; left: 10px;" @click="header.clicked++") {{ getText }}
        span.overline(style="position: fixed; bottom: 5px; right: 10px;" class="hide-xs-only") {{ 2020 + header.clicked }} ©
        v-overlay(:value="loading.overlay")
            v-row(align="center" justify="center")
                v-progress-circular(indeterminate size="64" width="1")
            v-row(align="center" justify="center")
                span.overline.mt-5.font-weight-thin(transition="slide-x-transition") {{this.loading.text}}{{getDots}}
</template>

<script>
	export default {
		async mounted() {
			this.interfaceLoadOverlayStart('Загрузка ваших проектов');
			this.user = {};
			await this.loadProjects();

			this.interfaceLoadOverlayStop();
            this.loadTime = new Date() / 1000;
            console.log(this.loadTime);

            var message = this.$cookie.get('alertMessage');
			if (!!message){
				this.showAlert(message);
				this.$cookie.delete('alertMessage');
            }

			setInterval(() => {
				this.header.index++;
				if (this.header.index >= this.header.variants.length)
					this.header.index = 0;
			}, 2000);
		},
		computed: {
			getText: function() {
				return this.header.clicked > 0 ? 'Зачем ты нажимаешь кнопки?' : "Хуган - " + this.header.variants[this.header.index];
			},
			getDots: function() {
				let result = "";
				for (let i = 0; i < this.loading.amount; i++)
					result += ".";

				return result;
			}
		},
		data   : () => ({
            loadTime: false,
			user: false,

			createProjectDialog: {
				show: false,
				name: ''
			},
			createServerDialog: {
				projectId: 0,
				show: false,
				name: ''
			},

			menu: {
				server: false,
				x: false,
				y: false,
				show: false
			},

			loading: {
				overlay: true,
				amount: 0,
				timer: false,
                text: ''
			},
			header: {
				clicked: 0,
				index: 0,
				variants: ['предприниматель', 'наркоман', 'разработчик', 'любовник', 'владелец котов', 'водитель', 'студент', 'работник', 'ангел', 'лентяй', 'агрессор', 'я']
			},
			alertBar: {
				show: false,
				text: ''
			}
		}),
		methods: {
			async removeProject(id) {
				this.interfaceLoadOverlayStart('Ожидание удаления проекта');
				await webApi.emit('project remove', id);
				await this.loadProjects();
				this.interfaceLoadOverlayStop();
            },

			onCopy() {
				this.showAlert("Ключ успешно скопирован в буффер обмена!");
			},
			showAlert(text) {
				this.alertBar.show = true;
				this.alertBar.text = text;

				setTimeout(() => {
					this.alertBar.show = false;
				}, 30000);
			},
			async removeServer(server) {
				this.interfaceLoadOverlayStart('Ожидание удаления сервера');
				await webApi.emit('server remove', { id: server.id });
				await this.loadProjects();
				this.interfaceLoadOverlayStop();
			},
			async subServerMenu(e, server) {
				e.preventDefault();
				this.menu.x = e.clientX;
				this.menu.y = e.clientY;
				this.$nextTick(() => {
					this.menu.show = true;
				});
			},
			async loadProjects() {
				this.user.projects = await webApi.emit('project get list');
			},
			async createProject() {
				this.interfaceLoadOverlayStart('Ожидание создания проекта');
				await webApi.emit('project create', this.createProjectDialog.name);
				await this.loadProjects();
				this.interfaceLoadOverlayStop();

				this.createProjectDialog.show = false;
			},
			async createServer() {
				this.interfaceLoadOverlayStart('Ожидание создания сервера');
				let result = await webApi.emit('server create', { name: this.createServerDialog.name, projectId: this.createServerDialog.projectId });
				saveAs(new Blob([result], {type: "text/plain;charset=utf-8"}), "WChat.cs");

				await this.loadProjects();
				this.interfaceLoadOverlayStop();

				this.createServerDialog.show = false;
			},
			async createServerDialogStart(projectId) {
				this.createServerDialog.show = true;
				this.createServerDialog.projectId = projectId;
			},
			interfaceLoadOverlayStop(timer) {
				setTimeout(() => {
					this.loading.overlay = false;
					clearInterval(this.loading.timer);
				}, timer);
			},
			interfaceLoadOverlayStart(text) {
				this.loading.overlay = true;
				this.loading.text = text;

				this.loading.timer = setInterval(() => {
					this.loading.amount++;
					if (this.loading.amount > 3)
						this.loading.amount = 0;
				}, 250);
			}
		}
	};
</script>
<style>
    p {
        margin: 0 !important;;
    }
    v-snack__wrapper {
        background-color: #ffffff00;
        box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
    }
    .v-snack__wrapper {
        background-color: #ffffff00;
        box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
    }
</style>
