<template lang='pug'>
    v-app#app
        v-container()
            v-row(align="center" justify="center")
                v-col(cols="12" xs="12" xl="7" align="center" justify="center")
                    v-col.py-0(cols="12")
                        v-btn(text x-large :to="{path: '/handler'}" dense) Вернуться в главное меню
                    v-col.py-0(cols="12")
                        v-card.elevation-0
                            v-container
                                v-col.pa-0(cols="12")
                                    span.overline.font-weight-thin {{ interfaceGetServerHeader }}
                                v-row(align="center" justify="center")
                                    v-btn(text x-small @click="" disabled) СПИСОК ЗАМУЧЕННЫХ ИГРОКОВ
                                    v-btn(text x-small @click="" disabled) ПОИСК СООБЩЕНИЙ
                    v-col.pt-1.pb-1(cols="12")
                        v-card.elevation-0
                            v-container.pb-0
                                v-list(two-line subheader dense)
                                    v-container.ma-0.pa-0(style="max-height: 525px; overflow: scroll; overflow-x: hidden;" ref='chatBox')
                                        template(v-for="mess in messages")
                                            v-row(align="center" justify="start" :style="'background-color: ' + (mess.targetUserId != 0 ? 'rgba(224, 240, 242, 0.18)' : 'white') + ' !important;'")
                                                v-col.ma-0.pa-0(cols="4" align="center" justify="start")
                                                    v-row.pr-2(align="center" justify="end")
                                                        template(v-if="mess.targetUserId != 0")
                                                            v-btn.mr-0.pa-0.px-1.my-0.white--text(@contextmenu="interfaceUserMenu($event, mess.userId)"
                                                                :color="mess.userId == 0 ? 'deep-orange' : 'teal'" text small
                                                            @click="interfaceSelectUser(mess)") {{ mess.displayName }}
                                                            v-subheader для
                                                            v-btn.mr-1.pa-0.px-1.my-0.white--text(@contextmenu="interfaceUserMenu($event, mess.targetUserId)"
                                                                :color="mess.targetUserId == 0 ? 'deep-orange' : 'teal lighten-3'" text small
                                                            @click="interfaceSelectUser(mess)") {{ mess.targetDisplayName }}
                                                        template(v-else-if="mess.isTeam")
                                                            v-btn.mr-1.pa-0.white--text(color="green lighten-3" text small) TEAM
                                                            v-btn.mr-1.pa-0.white--text(@contextmenu="interfaceUserMenu($event, mess.userId)"
                                                                :color="mess.userId == 0 ? 'deep-orange' : 'teal lighten-3'" text small
                                                            @click="interfaceSelectUser(mess)") {{ mess.displayName }}
                                                        template(v-else)
                                                            v-btn.mr-1.pa-0.white--text(@contextmenu="interfaceUserMenu($event, mess.userId)"
                                                                :color="mess.userId == 0 ? 'deep-orange' : 'teal lighten-3'" text small
                                                            @click="interfaceSelectUser(mess)") {{ mess.displayName }}

                                                v-col.ma-0.pa-0.text-left(cols="6")
                                                    v-subheader.ma-1.pa-0(style="display: block !important; height: auto !important;") {{ mess.text }}
                                                v-spacer
                                                v-col.ma-0.pa-0.text-right(cols="1" align="center" justify="end")
                                                    v-subheader.ma-0.pa-0(style="height: auto !important;") {{ mess.time }}
                                            v-divider(v-if="messages.indexOf(mess) != messages.length - 1")

                    v-col.pt-0(cols="12")
                        v-card.elevation-0
                            v-container
                                v-text-field.mt-1.mx-2.text--disabled.subtitle-1(outlined clearable dense hide-details color="deep-orange"
                                    :loading="externalMessage.isProcessing"
                                    v-model="externalMessage.text"
                                    v-on:keyup.enter="interfaceSendGlobalMessage"
                                    :label="!externalMessage.global ? 'Для ' + externalMessage.target.userId : 'Глобальное сообщение'"
                                    placeholder="Сообщение в чат"
                                    :readonly="this.externalMessage.isProcessing"
                                    append-outer-icon="mdi-send"
                                    :prepend-icon="externalMessage.global ? 'mdi-earth' : 'mdi-lock'"
                                    @click:prepend="interfaceSwitchToGlobal"
                                    @click:append-outer="interfaceSendGlobalMessage")
                    v-col.pt-0(cols="12")
                        v-row.mt-0.pt-0(align="center" justify="center")
                            v-btn(icon x-large)
                                v-icon mdi-vk
                            v-btn(icon x-large)
                                v-icon mdi-telegram
                            v-btn(icon x-large)
                                v-icon mdi-gmail
                            v-btn(icon x-large)
                                v-icon mdi-discord



        v-menu(v-model="menu.show" :position-x="menu.x" :position-y="menu.y" absolute offset-y)
            v-list(dense subheader)
                v-list-item(@click='' disabled dense style="height: 20px;")
                    v-list-item-title Сообщения игрока
                    v-list-item-avatar
                        v-icon mdi-message-text
                v-list-item(@click='interfaceMutePlayer' disabled dense style="height: 20px;")
                    v-list-item-title {{ menu.user.UMT > Math.floor(Date.now() / 1000) ? "Разблокировать чат" : "Заблокировать чат" }}
                    v-list-item-avatar
                        v-icon mdi-close
        v-snackbar.elevation-0(v-model="alertBar.show" bottom :timeout="3000" style="background-color: #ffffff00")
            v-col.ma-0.pa-0(align="center" justify="center" class="text--center center-text text-center text-black text--black black--text black-text")
                span.overline {{ alertBar.text }}
        span.overline(style="position: fixed; bottom: 5px; left: 10px;" @click="header.clicked++") {{ getText }}
        span.overline(style="position: fixed; bottom: 5px; right: 10px;" class="hide-xs-only") {{ 2020 + header.clicked }} ©
        v-overlay(:value="loading.overlay")
            v-row(align="center" justify="center")
                v-progress-circular(indeterminate size="64" width="1")
            v-row(align="center" justify="center")
                span.overline.mt-5.font-weight-thin(transition="slide-x-transition") {{loading.text}}{{getDots}}
</template>

<script>
	export default {
		async mounted() {
			this.interfaceLoadOverlayStart('Загрузка чата сервера');

			await this.getServerInfo();
			await this.getLastMessages();

			this.interfaceLoadOverlayStop();

			setTimeout(() => {
				let elems       = this.$refs.chatBox;
				elems.scrollTop = elems.scrollHeight;
			}, 100);

			setInterval(async () => {
				this.header.index++;
				if (this.header.index >= this.header.variants.length)
					this.header.index = 0;

				let messages = await webApi.emit('BACKEND_GET_MESSAGES', {serverId: this.serverInfo.id});
				for (let i = 0; i < messages.length; i++) {
					console.log('add message');
					this.messages.push(messages[i]);
				}
				/*setTimeout(() => {
					var elem = this.$refs.chatBox;
					if (elem.scrollHeight - 570 - elem.scrollTop > 10) return;

					elem.scrollTop = elem.scrollHeight;
                }, 100);*/
			}, 1000);

		},
		computed: {
			/* */
			interfaceGetServerHeader: function () {
				return !this.serverInfo ? "ПОДОЖДИТЕ, ИДЁТ ЗАГРУЗКА" : this.serverInfo.serverName;
			},


			getText: function () {
				return this.header.clicked > 0 ? 'Зачем ты нажимаешь кнопки?' : "Хуган - " + this.header.variants[this.header.index];
			},
			getDots: function () {
				let result = "";
				for (let i = 0; i < this.loading.amount; i++)
					result += ".";

				return result;
			}
		},
		data    : () => ({
			message: '',
			target : false,

			serverInfo: false,
			menu      : {
				user: false,
				x     : false,
				y     : false,
				show  : false
			},
			loading   : {
				overlay: true,
				amount : 0,
				timer  : false,
                text: 'Загрузка чата сервера'
			},
			header    : {
				clicked : 0,
				index   : 0,
				variants: ['предприниматель', 'наркоман', 'разработчик', 'любовник', 'владелец котов', 'водитель', 'студент', 'работник', 'ангел', 'лентяй', 'агрессор', 'я']
			},
			alertBar  : {
				show: false,
				text: ''
			},
			messages  : [],


			externalMessage: {
				text  : '',
				target: false,
				global: true,

				isProcessing: false
			}
		}),
		methods : {
			/* Работа с пользователем */
			async interfaceSelectUser(user) {
				if (user.userId == 0) {
					this.showAlert('Вы не можете отправить сообщение лично серверу!');
					return;
                }
				this.resetMessageObject();

				this.externalMessage.target = user;
				this.externalMessage.global = false;
			},
			async interfaceUserMenu(e, userId) {
				e.preventDefault();
				if (userId == 0) {
					this.showAlert("Вы не можете управлять серверными сообщениями!");
					return;
				}

				this.interfaceLoadOverlayStart('Загрузка информации об игроке');
				let result = await webApi.emit('BACKEND_GET_INFO', { serverId: this.serverInfo.id, targetId: userId });
				if (!result) {
					this.showAlert("Неизвестная ошибка со стороны сервера!");
					return;
				}
				this.interfaceLoadOverlayStop();

				this.menu.x      = e.clientX;
				this.menu.y      = e.clientY;
				this.menu.user = result;

				this.$nextTick(() => {
					this.menu.show = true;
				});
			},
            async interfaceMutePlayer() {
				if (!this.menu.user) return;

				this.interfaceLoadOverlayStart('Изменение данных об игроке');
				let result = await webApi.emit('BACKEND_MUTE_PLAYER', { serverId: this.serverInfo.id, targetId: this.menu.user.UID, time: this.menu.user.UMT > Math.floor(new Date() / 1000) ? 0 : 300, reason: "Жопа" });
				if (!result) {
					this.showAlert("Неизвестная ошибка со стороны сервера!");
					return;
				}
				this.interfaceLoadOverlayStop();

				this.showAlert(this.menu.user.UMT < Math.floor(new Date() / 1000) ? "Пользователю заблокирован чат" : "Пользователю разблокирован чат")
            },

			/* Работа с отправкой сообщения */
			async resetMessageObject() {
				this.externalMessage = {
					text        : '',
					target      : false,
					global      : true,
					isProcessing: false
				};
			},
			async interfaceSwitchToGlobal() {
				if (this.externalMessage.global) {
					return;
				}

				this.externalMessage.text = this.externalMessage.target.displayName + ', ';

				this.externalMessage.global = true;
				this.externalMessage.target = false;
			},
			async interfaceSendGlobalMessage() {
				if (this.externalMessage.isProcessing) return;

				this.externalMessage.isProcessing = true;
				await webApi.emit('BACKEND_SEND_MESSAGE', {
					serverId: this.serverInfo.id,
                    message: this.externalMessage.text,
                    target: this.externalMessage.target
				});
				this.externalMessage.isProcessing = false;
				this.resetMessageObject();
			},

			/* Работа с запросами к серверу */
			async getLastMessages() {
				this.messages = await webApi.emit('BACKEND_FETCH_LOGS', this.serverInfo.id);
				if (!this.messages) {
					this.$cookie.set('alertMessage', `Сервер не отвечает на запросы сайта`, {expires: 7});
					window.location = "/handler";
					return;
				}
			},
			async getServerInfo() {
				this.serverInfo = await webApi.emit('server get info', parseInt(this.$route.params.serverId));
			},
			showAlert(text) {
				this.alertBar.show = true;
				this.alertBar.text = text;

				setTimeout(() => {
					this.alertBar.show = false;
				}, 30000);
			},
			interfaceLoadOverlayStop(timer) {
				setTimeout(() => {
					this.loading.overlay = false;
					clearInterval(this.loading.timer);
				}, timer);
			},
			interfaceLoadOverlayStart(text) {
				this.loading.overlay = true;
				this.loading.text = text;

				this.loading.timer = setInterval(() => {
					this.loading.amount++;
					if (this.loading.amount > 3)
						this.loading.amount = 0;
				}, 250);
			}
		}
	};
</script>
<style>
    p {
        margin: 0 !important;;
    }

    v-snack__wrapper {
        background-color: #ffffff00;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }

    .v-snack__wrapper {
        background-color: #ffffff00;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
